<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>a7ki.online</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/system.js"></script>

    <script>

        var mySocket = new WebSocket('ws://' + window.location.hostname + ':6061' );
        
        mySocket.onmessage = function (event) {
            let json = JSON.parse(event.data);

            if(json.userName == "SYSTEM") {
                processSystemReq(json, document);
                return;
            }

            let div = document.getElementById('msgs')
            div.innerHTML += createSentMsg(json.userName, json.text, json.time)
            div.scrollTop = div.scrollHeight;
        };
        mySocket.onclose = (event) => {
            console.log("closed ws")
        };

    </script>



    <header class="header">
        <h1>a7ki.online</h1>
    </header>

    <div class="welcome-section">
        <h2 id="greeting">3aslema, ...!</h2>
        <div class="online-users">
            <span class="dot"></span> 5 3bed en ligne
        </div>
    </div>

    <main class="chat-panel">
        <div class="chat-box">
            <div class="messages" id="msgs">
            </div>
            <div class="input-area">
                <input id="field" type="text" placeholder="Ab3th msg... (ay wehed ynejem ychoufou, be nice :))" />
                <button id="send" type="button">Ab3ath</button>
            </div>
            <div class="cooldown-info">
                <span class="icon">🕒</span> stana 4 secondes... (yezi mil spam)
            </div>
            <div class="error-message">
                <span class="icon">❗</span> Oops! bechwaya thama mochkla, trah 3awed.
            </div>
        </div>
    </main>

    <script type="text/javascript" src="js/send.js"></script>
    <script>
        document.getElementById("send").addEventListener('click', () => {
            sendMessage(mySocket, document.getElementById("field").value)
            document.getElementById("field").value = ""
        })
    </script>


</body>
</html>
