<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN CONSOLE - a7ki</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>

    <script type="text/javascript" src="js/system.js"></script>

    <script>

        function publishMsg(json){
            let div = document.getElementById('msgs')
            if(json.banned)
                div.innerHTML += createRecMsgBanned(json.userName, json.userColor ,json.text, json.time)
            else
                div.innerHTML += createRecMsg(json.userName, json.userColor ,json.text, json.time)
            div.scrollTop = div.scrollHeight;       
        }

        function getAllMessages(){
            fetch("/get_msg")
                .then(response => {
                    if (response.status === 200) {
                        return response.json();
                    }
                })
                .then(data => {
                    console.log(data)
                    if (data) {
                        let d = data.ms
                        for(let i=0; i <= d.length-1; i++){
                            let msg = d[i]
                            publishMsg(msg)
                        }
                    }
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        }

        function fetchData() {
            console.log("requesting with long polling...")
            const userId = Math.random().toString(36).substring(2, 15); // Simulate unique user ID
            fetch(`/poll/${userId}`)
                .then(response => {
                    console.log("got resppnse from long polling")
                    if (response.status === 204) {
                        // No content, retry immediately
                        fetchData();
                    } else {
                        return response.json();
                    }
                })
                .then(data => {
                    if (data) {
                        console.log(data)
                        let d = data.update
                        for(let i=0; i <= d.length-1; i++){
                            let msg = d[i]
                            publishMsg(msg)
                        }
                        fetchData();
                    }
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                    // Retry after a short delay
                    setTimeout(fetchData, 1000);
                });
        }

        getAllMessages()
        // Start polling
        fetchData();
    </script>



    <header class="header">
        <h1>a7ki.online</h1>
    </header>

    <div class="welcome-section">
        <h2 id="greeting">ADMIN CONSOLE</h2>

    </div>

    <main class="chat-panel">
        <div class="chat-box">
            <div class="messages" id="msgs">
            </div>
        </div>
    </main>

    <!-- Popup HTML -->
    <div id="popup" class="popup">
        <div class="popup-content">
            <p id="popup-message">This is your message.</p>
            <button id="popup-close">Close</button>
        </div>
    </div>

    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/send.js"></script>
    <script>
        document.getElementById("send").addEventListener('click', () => {
            sendMessage(mySocket, document.getElementById("field").value)
        })
        const textInput = document.getElementById('field');
        textInput.addEventListener('keydown', (event) => {
            if (event.key == 'Enter' || event.keyCode === 13) {
                sendMessage(mySocket, document.getElementById("field").value)
            }
        });
    </script>


</body>
</html>
